pkgbase = neo-angband-bin
	pkgdesc = A faithful but moddable port of Angband, packaged from the released AppImage
	pkgver = 1.22.0
	pkgrel = 1
	url = https://github.com/neostryder/neo-angband
	arch = x86_64
	license = GPL-2.0-only
	depends = fuse2
	depends = zlib
	provides = neo-angband
	conflicts = neo-angband
	noextract = neo-angband-bin-1.22.0.AppImage
	options = !strip
	options = !debug
	source = neo-angband-bin-1.22.0.AppImage::https://github.com/neostryder/neo-angband/releases/download/v1.22.0/Neo.Angband-1.22.0-x86_64.AppImage
	source = neo-angband.desktop
	source = neo-angband.sh
	sha256sums = cf77b932eeb40b509efb000642c198e1cf5d22d097f5650f6a9ab45a778a548f
	sha256sums = 5f9558390f5ec638e2266f62d2a8692c4d0b825e06e57226d2c0303a7685deeb
	sha256sums = d59dd29ed3177e55c29bb6b7c70f2420a622960483531034ea7119a4798d5479

pkgname = neo-angband-bin
