pkgbase = neo-angband-bin
	pkgdesc = Modern TypeScript port of Angband, packaged from the upstream AppImage
	pkgver = 1.3.0
	pkgrel = 1
	url = https://github.com/neostryder/neo-angband
	arch = x86_64
	license = GPL-2.0-only
	depends = fuse2
	provides = neo-angband
	conflicts = neo-angband
	options = !strip
	noextract = neo-angband-bin-1.3.0.AppImage
	source = neo-angband-bin-1.3.0.AppImage::https://github.com/neostryder/neo-angband/releases/download/v1.3.0/Neo.Angband-1.3.0-x86_64.AppImage
	source = neo-angband.desktop
	source = neo-angband.sh
	sha256sums = c07494de525ea5a8e92d80836d7263a87a5e86ca341273ce50f0b8bce8ec3b4e
	sha256sums = 6cf2db0375f6e96d363c59fb965ab9e0e69593ccbe61ca34e2cba3aaf08de830
	sha256sums = d59dd29ed3177e55c29bb6b7c70f2420a622960483531034ea7119a4798d5479

pkgname = neo-angband-bin
