[Desktop Entry]
Name=Neo Angband
Comment=A faithful but moddable port of Angband
Exec=neo-angband %U
Terminal=false
Type=Application
Icon=neo-angband
Categories=Game;RolePlaying;
StartupWMClass=Neo Angband
